.wheel-prefix .game_Wheel {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-flex: auto;
    flex: auto;
    position: relative;
    padding-top: 58px;
}

.wheel-prefix .wheel {
    background: none;
}

.wheel-prefix .wheel .btn {
    width: auto;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 8px;
    -webkit-transition: none;
    transition: none;
    border: 1px solid;
    font-weight: 600;
    min-width: 0;
}

.wheel-prefix .wheel .btn:last-child {
    margin-right: 0;
}

.wheel-prefix .wheel-content {
    width: 100%;
    position: relative;
    margin: 20px auto;
    max-width: 497px;
}

.wheel-prefix .wheel-content .wheel-img {
    width: 100%;
    max-width: 497px;
    max-height: 497px;
    margin: 0 auto;
    display: block;
}

.wheel-prefix .wheel-content img {
    width: 100%;
    height: auto;
}

.wheel-prefix .wheel-game {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.wheel-prefix .wheel-content .arrow {
    position: absolute;
    bottom: 10px;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel-prefix .game_Wheel .time .block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    z-index: 1;
}

.wheel-prefix .game_Wheel .time .block .title {
    color: #7b8893;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.wheel-prefix .game_Wheel .time .block .value {
    font-size: 42px;
    font-weight: 600;
    color: #ffc645;
    font-family: Exo\ 2;
    line-height: 45px;
}

@media (max-width: 820px) {
    .wheel-prefix .wheel-content .wheel-img {
        max-width: 320px;
        max-height: 320px;
    }

    .wheel-prefix .wheel-content .arrow {
        bottom: 0;
    }
}

.wheel-prefix .history_wrapper {
    padding: 0 20px;
    width: 100%;
}

.wheel-prefix .history_history {
    min-height: 10px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.wheel-prefix .history_item {
    width: 7.14%;
    height: 5px;
    border-radius: 3px;
    background: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.wheel-prefix .history_item:last-child {
    margin-right: 0;
}

.wheel-prefix .history_item.history_red {
    background: #e86376;
}

.wheel-prefix .history_item.history_green {
    background: #62ca5b;
}

.wheel-prefix .history_item.history_black {
    background: #1c2028;
}

.wheel-prefix .history_item.history_yellow {
    background: #ffc645;
}

.wheel-prefix .history_isAnimate {
    -webkit-animation: shiftFromLeft .3s linear;
    animation: shiftFromLeft .3s linear;
}

.wheel-prefix .hash {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 6px;
}

.wheel-prefix .bet-type {
    font-weight: 700;
}

.wheel-prefix .bet-type.bet_black {
    color: #8a96ab;
}

.wheel-prefix .bet-type.bet_red {
    color: #e86376;
}

.wheel-prefix .bet-type.bet_green {
    color: #62ca5b;
}

.wheel-prefix .bet-type.bet_yellow {
    color: #ffd000;
}

@media screen and (max-width: 1099px) {
    .wheel-prefix .wheel-game {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 768px) {
    .wheel-prefix .wheel-game {
        transform: scale(1);
    }
}

@media screen and (max-width: 420px) {
    .wheel-prefix .wheel-game {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 380px) {
    .wheel-prefix .wheel-game {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 320px) {
    .wheel-prefix .wheel-game {
        transform: scale(0.8);
    }
}
